<!DOCTYPE html>
    <html>
    <head>
      {% load staticfiles %}
       {% load i18n %}
        <meta http-equiv="X-UA-Compatible" content="IE=9"> 
        <title>Persistent ODSI</title>        
        <link rel="shortcut icon" href= "/static/images/favicon.ico" type="image/x-icon" />    
        <script type="text/javascript" src="/static/script/jquery.js" ></script>
        <script type="text/javascript" src="/static/script/jquery-ui-1.10.4.custom.js"></script>        
        <link rel="stylesheet" type="text/css" href="/static/css/style.css" />  
        <script type="text/javascript" src="/static/script/jquery.bxslider.js"></script>        
        <link rel="stylesheet" type="text/css" href="/static/css/jquery-ui-1.10.4.custom.css" />    
           <script type="text/javascript" src="/static/script/common.js"></script>           
    
<script type="text/javascript">


function contains(list, element) {
    //alert(typeof list);
    //alert(list);
    list = list.split(",");
    for (var i = 0; i < list.length; i++) {
        if (list[i] === element) {
            return true;
        }
    }
    return false;
}




function sidebar_click(tag)
{
//document.getElementById("div1").innerHTML="content changed"
//var hello = "{{product_information.0.service_tag}}";
//alert(hello);
var product_info = "{% for item in product_information %}{% for key, values in item.product_info_list.items %}{{ values.0 }}:{{ values.1 }}:{{ values.2 }}:{{ values.3 }}:{{item.service_tag}}:{{key}}:{% endfor %}{% endfor %}";
product_info=product_info.split(":");
//alert(product_info[4])
var inner_html="";
for (var i=0 ;i<product_info.length; i++) {
//alert(product_info[i])
//alert(product_info[i]);
//alert(tag);
if (product_info[i]==tag){
inner_html+= "<li class='box'><div class='head'><img src='/static/images/"+product_info[i+1]+".png' /></div><div class='content'><br><br><h4><b>Product : "+product_info[i-4]+"<h4><b>Version : "+product_info[i-3]+"<h4><b>Supporting OS : "+product_info[i-2]+"<h4><b>Architecture : "+product_info[i-1]+"</div><button class='btn' data-toggle='modal'>Install</button></li>"

}
} 
//alert(product_info);
document.getElementById("product_filter").innerHTML=inner_html;

}
</script>


</head>
<body>        
<div class="page">           
<div id="header">
<h1><span>Persistent</span>On Demand Software Installation</h1>
<span class="tagline">Partners in Innovation</span>
</span>                
<div class="subheader"><a href="#">Applications</a>><a href="#">Quality Engineering</a></div>
            </div>
            <div id="page-content">     
                <div id="page-content-inner">     
                <div class="sidebar-before"></div>                
                <div class="sidebar">                
    

		<ul class="paging2">
		<li><span>All<span></span></span></li>
                 {% for item in list_service %}
                  <li><span>{{item.service_name}}<span class="icon-collapse"></span></span>
                        <ul class="sub">
                                {% for tag in item.service_tags %}
                                <li data-id="div1" onclick="sidebar_click('{{tag}}');"><span class="active">{{tag}}</span></li>
                        {% endfor %}
                    </ul>
                   </li>
                   {% endfor %}
               <li  data-id="div2"><span>Status Report</span></li>

                    </ul>
</div>



                <div id="wrapper">
                     <div id="toggle-button" class="close-panel"></div>
                    <div id="softwaresPage">                       
                        <div class="page-header"><span class="space">Quality Engineering</span><span>|</span><span class="sub-text">Software List for installation.</span></div>  
                        
                              <div id="div1" class="apps slider-wrapper">                     
				<br/><br/>




				<ul id="product_filter" class="boxes">





 	     {% for item in product_information %}
<!--                  <li class="box">
                    <div class="head">
                      <img src="/static/images/logo-ruby.png" />
                    </div>

                    <div class="content"> -->

		{% for key, values in item.product_info_list.items %}
		<li class="box">
                    <div class="head">
                      <img src="/static/images/{{key}}.png"/>
                    </div>

                    <div class="content">
		
		<h4><b>Product : {{ values.0 }} </b></h4>
                <h4><b>Version : {{ values.1 }} </b></h4>
		<h4><b>Operating System : {{ values.2 }} </b></h4>
		<h4><b>Architecture : {{ values.3 }} </b></h4>

                {% endfor %}
                 </div>
                 
<button class="btn"  data-toggle="modal">Install</button>
                  </li>
             {% endfor %}
	






                
			</ul>
					<br/><br/><br/>
                    </div>
                     </div>
                </div>
                </div>
            </div>
        </div>



           <script type="text/javascript" src="/static/script/common.js"></script>           
          <script type="text/javascript" src="/static/script/jquery.bxslider.js"></script>     
         
    </body>

    </html>
 
