<!DOCTYPE html>

   <html>

    <head>
	{% load staticfiles %}
        <meta http-equiv="X-UA-Compatible" content="IE=9">
        <title>Persistent ODSI</title>
        <link rel="shortcut icon" href="/static/new/images/favicon.ico" type="image/x-icon" />
        <script type="text/javascript" src="/static/new/script/jquery.js"></script>
        <script type="text/javascript" src="/static/new/script/jquery-ui-1.10.4.custom.js"></script>
        <link rel="stylesheet" type="text/css" href="/static/new/css/style.css" />      
        <link rel="stylesheet" type="text/css" href="/static/new/css/jquery-ui-1.10.4.custom.css" />
        <link rel="stylesheet" type="text/css" href="/static/new/css/avgrund.css" />           
        <script type="text/javascript" src="/static/new/script/jquery.avgrund.js"></script>
        <script type="text/javascript" src="/static/new/script/bootstrap.js"></script>        
        <link rel="stylesheet" type="text/css" href="/static/new/css/bootstrap.css" />
    



<script>

//************This method clickd returns the status of all the requests*************//
function clickd()
{
$.ajax({
    url: 'http://10.233.52.111:8001/req_status_all/',
    contentType: "application/json",
    dataType: "jsonp",
    jsonp: "callback",
    jsonpCallback: "test",
    success: function (data) {
                                console.log(data);
                                console.log(data['1']);
                                $('#product_filter').html('');
		 $('#product_filter').append("<table id='product_filter_table'  style='border:1px solid black;width:90%;'><thead><tr style='border 2px solid black;background-color:#DDD;'><th style='font-weight:bold;color:blue; padding:10px;border:1px solid black;'>Request Id</th><th style='font-weight:bold;color:blue; padding:1px;border:1px solid black;'>Username</th><th style='font-weight:bold;color:blue; padding:10px;border:1px solid black;'>Product Name</th><th style='font-weight:bold;color:blue; padding:10px;border:1px solid black;'>Machine IP</th><th style='font-weight:bold;color:blue; padding:10px;border:1px solid black;'>Status</th><th style='font-weight:bold;color:blue; padding:10px;border:1px solid black;'>Remarks</th></tr></thead></table>");
                   $.each(data,function(key,value){
var tableData = "<tr style='border 2px solid black;background-color:#DDD;width:90%;'><td style='border:1px solid black;padding:5px;text-align:center;'>"+key+"</td>";

                                                                                                                           for (var key in value) {
 tableData = tableData + "<td style='border:1px solid black;padding:5px;text-align:center;'>"+value[key]+"</td>";
                                     }                                                                                       
tableData = tableData + "</tr>";
 $('#product_filter_table').append(tableData);
                                                                                                                                });
//                                
                                //setTimeout(clickd(),10000);
    }
});
}
function showConfiguration(){
 document.getElementById('details_popup').style.visibility = 'hidden';
 document.getElementById('configuration_popup').style.visibility = 'visible';
}
</script>




<!-- End of ajax scripts -->






<script type="text/javascript">
// ***********This method click_details displays the details of the selected product************//
function click_details(product_name,product_id,service_tag,version,os,architecture,service_id)
{

//var inner_html="<h3>product Name : "+product_name+"</h3><h3>service _id"+service_id+"</h3><h3>service_tag"+service_tag+"</h3><h3>version"+version+"</h3><h3>Supporting OS"+os+"</h3><h3>Architecture"+architecture+"</h3>";

//inner_html+="<br/><br/><table><tr><td rowspan='5' style='vertical-align:bottom;'><img src='/static/images/"+service_id+".png'</td><td style='vertical-align: top;'> Product Name :"+product_name+"</td></tr><tr><td>Version : "+version+"</td></tr><tr><td>Architecture :"+architecture+"</td></tr><tr><td>Supporting OS:"+os+"</td></tr><tr><td><button type=button value='install'>install</button></td></tr></table>"
var inner_html=""
inner_html+=" <div style='width:500px;height:250px;padding:20px;margin:100px 0px 0px 300px;background-image:linear-gradient(#FAFAFA 0%, #EBEBEB 100%);background-repeat:repeat-x;border:3px solid #6FB3E0;border-radius:4px;'><div style='width: 200px; display:inline-block;'> <img src='/static/images/"+product_id+".png' /></div>        <div style='vertical-align:top; display:inline-block;'><ul><li><font color='#6FB3E0' style='font-weight:bold;'> Product Name :</font>"+product_name+" </li> <br><li><font color='#6FB3E0' style='font-weight:bold;'> Version : </font>"+version+" </li><br> <li><font color='#6FB3E0' style='font-weight:bold;'>Architecture :</font>"+architecture+" </li><br> <li><font color='#6FB3E0' style='font-weight:bold;'> Supporting OS:</font>"+os+"</li><br> <li> <button class = 'btn' value='install' style='margin-left:0px;' data-toggle='modal' data-target='#modalbox' >Install</button> </li> </ul> </div>    </div>";
document.getElementById("serviceid").value=service_id;
document.getElementById("productid").value=product_id;
document.getElementById("productname").value=product_name;
document.getElementById("os").value=os;
document.getElementById("product_filter").innerHTML=inner_html;



//inner_html+="<table>  <tr><td rowspan='4' style='vertical-align: bottom;' ><img src='/static/images/"+service_id+".png'</td>    <td>January</td>        </tr> <tr>    <td>February</td></tr> <tr>    <td>February</td>  </tr><tr>   <td>February</td>  </tr></table>"
//document.getElementById("product_filter").innerHTML=inner_html;

}
function contains(list, element) {
    //alert(typeof list);
    //alert(list);
    list = list.split(",");
    for (var i = 0; i < list.length; i++) {
        if (list[i] === element) {
            return true;
        }
    }
    return false;
}

//*******This method sidebar_click is responsible of displaying the products by categories*******//
function sidebar_click(tag)
{
var product_info = "{% for item in product_information %}{% for key, values in item.product_info_list.items %}{{ values.0 }}:{{ values.1 }}:{{ values.2 }}:{{ values.3 }}:{{item.service_tag}}:{{key}}:{{item.service_id}}:{% endfor %}{% endfor %}";
product_info=product_info.split(":");
var inner_html="";
for (var i=0 ;i<product_info.length; i++) {
if (product_info[i]==tag){
inner_html+= "<li><div title="+product_info[i-4]+"><div class='head'><img src='/static/images/"+product_info[i+1]+".png' /></div><div class='content'><!--<h4><b>Product : "+product_info[i-4]+"--></div><button class='btn' onClick='click_details(\""+product_info[i-4]+"\",\""+product_info[i+1]+"\",\""+product_info[i]+"\",\""+product_info[i-3]+"\",\""+product_info[i-2]+"\",\""+product_info[i-1]+"\",\""+product_info[i+2]+"\");' >Details</button></div></li>"



}
} 
//alert(product_info);
document.getElementById("product_filter").innerHTML=inner_html;

}
</script>

<script type="text/javascript">
//****** This method display_all displays all products *********//
function display_all()
{
	//alert('this is all');
	//var inner_html="{% for item in product_information %}{% for key, values in item.product_info_list.items %}<li><div title='{{ values.0 }}'><div class='head'><img src='/static/images/{{key}}.png'/></div><div class='content'><h4><b>Product : {{ values.0 }} </b></h4><h4><b>Version : {{ values.1 }} </b></h4><h4><b>Operating System : {{ values.2 }} </b></h4><h4><b>Architecture : {{ values.3 }} </b></h4>{% endfor %}</div><button class='install-btn btn' onClick='click_details(\'{{ values.0 }}\',\'{{item.service_id}}\',\'{{item.service_tag}}\');'>Install</button></div></li>{% endfor %}";
	var product_info = "{% for item in product_information %}{% for key, values in item.product_info_list.items %}{{ values.0 }}:{{ values.1 }}:{{ values.2 }}:{{ values.3 }}:{{item.service_tag}}:{{key}}:{{item.service_id}}:{% endfor %}{% endfor %}";
	product_info=product_info.split(":");
	var inner_html="";
	for (var i=0 ;i<product_info.length-1; i=i+7) {
              
		inner_html+= "<li><div title="+product_info[i]+"><div class='head'><img src='/static/images/"+product_info[i+5]+".png' /></div><div class='content'><!--Product : "+product_info[i]+"--></div><button class='btn' onClick='click_details(\""+product_info[i]+"\",\""+product_info[i+5]+"\",\""+product_info[i+4]+"\",\""+product_info[i+1]+"\",\""+product_info[i+2]+"\",\""+product_info[i+3]+"\",\""+product_info[i+6]+"\");'>Details</button></div></li>";


		document.getElementById("product_filter").innerHTML=inner_html;
	}
}
</script>

</head>

    <body>

        <div class="page">
            <div id="header">
                <h1><span>Persistent</span>On Demand Software Installation</h1>
                <span class="tagline">Partners in Innovation</span>
                </span>
                <div class="subheader"><a href="#">Applications</a>><a href="#">Quality Engineering</a>
                </div>
            </div>
            <div id="page-content">
                <div id="page-content-inner">
                    <div class="sidebar-before"></div>
                    <div class="sidebar">


<!--******** This is the code responsible for displaying the sidebar of the mainpage  ******** -->
		<ul class="paging2">
                <li onClick="display_all();"><span>All<span></span></span></li>
                 {% for item in list_service %}
                  <li><span>{{item.service_name}}<span class="icon-collapse"></span></span>
                        <ul class="sub">
                                {% for tag in item.service_tags %}
                                <li data-id="div1" onclick="sidebar_click('{{tag}}');"><span class="active">{{tag}}</span></li>
                        {% endfor %}
                    </ul>
                   </li>
                   {% endfor %}
               <li  id="div2" onClick="clickd();"><span>Status Report</span></li>

                    </ul>

                    </div>






                    <div id="wrapper">
                        <div id="toggle-button" class="close-panel"></div>
                        <div id="softwaresPage">
                            <div class="page-header"><span class="space">Quality Engineering</span><span>|</span><span class="sub-text">Software List for installation.</span>
                            </div>





                            <div class="slider-wrapper">
<!--****** This is the center part of the mainpage which changes its content by the actions performed******* -->
                                <ul id="product_filter" class="bxslider">


<!--                                    <li> 

                                        <div title="jb ss">
                                            <div class="head">
                                                <img src="images/logo-jboss.gif" />
                                            </div>
                                            <div class="content">JBoss Application Server is an open-source, cross-platform Java application server developed by JBoss.Open-source used for implementing Java applications and other Web-based applications and software.</div>
                                            <button class="install-btn btn">Install</button>
                                        </div>
                                    </li>
-->


 {% for item in product_information %}

                {% for key, values in item.product_info_list.items %}
                <li>
                     <div title="{{ values.0 }}">
                    <div class="head">
                      <img src="/static/images/{{key}}.png"/>
                    </div>

                    <div class="content">

              <!--  <h4><b>Product : {{ values.0 }} </b></h4>
-->
                {% endfor %}
                 </div>

<button class="btn" >Details</button>
		</div>
                  </li>
             {% endfor %}


                                </ul>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>      





<!--****** pop-up for asking the details    *******-->

 
        <div class="modal fade" id="modalbox" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog">
    <div class="modal-content"  style="width:420px;">
	<div class="modal-header">
            <button class="close" data-dismiss="modal" aria-hidden="true">Close</button>
            <h2 class="modal-title" id="myModalLabel">Configurations</h2> 
        </div>
       <div class="modal-body">
        <form role="form" action="/submitdetails/" method="POST">
{% csrf_token %}
    
	<div class="label-row">
                <div class="label" style="color:black;font-size:15px;">IP address:</div>
                <div class="label-value">
                    <input style="width:200px;" type="text" id="ipaddress" name="ipaddress"  onclick="$(this).css('border', '1px solid #CCCCCC');"/>
                </div>
            </div>
            <div class="label-row">
                <div class="label" style="color:black;font-size:15px;">UserName:</div>
                <div class="label-value">
                    <input  style="width:200px;" type="text"  id="username" name="username" onclick="$(this).css('border', '1px solid #CCCCCC');"/>
                </div>
            </div>
            <div class="label-row">
                <div class="label" style="color:black;font-size:15px;">Password:</div>
                <div class="label-value">
                    <input type="password"  style="width:200px;"  id="password" name="password" onclick="$(this).css('border', '1px solid #CCCCCC');"/>
                </div>
            </div>

<input type="hidden" id="serviceid" name="serviceid" value="">
<input type="hidden" id="productid" name="productid" value="">
<input type="hidden" id="productname" name="productname" value="">
<input type="hidden" id='os' name="os" value="">


                <button class="btn" type="submit" id="save">Save</button>
            <button type="reset" class="btn">Reset</button>
            </form>          
       </div>
</div>
        </div>
</div>

         <script type="text/javascript" src="/static/new/script/common.js"></script>       
    </body>

    </html>


